/* Abasi Constructs */
label {
  display: flex;
  font-size: 1.3em;
  justify-content: center;

  .label {
    min-width: 200px;
    align-self: center;
    margin-right: 10px;
    text-align: right;
  }

  input, select {
    flex-grow: 1;
  }
}

.abasi-table {
  // font-size: 2em;
  text-align: center;
  border: 1px solid $anchor-color;

  tbody > tr:hover {
    color: $primary-color;
    background-color: $anchor-color;
  }

  tr { 
    border: 1px solid $anchor-color;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    td {
      border-right: 1px solid $anchor-color;
      padding-left: 10px;
      padding-right: 10px;

      &:last-child {
        border: none;
      }

      a {
        color: $link-color;
        transition: color 0.3s linear;
        
        &:hover {
          color: $dark-link-color;
        }
      }
    }

    th {
      border-right: 1px solid $anchor-color;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.abasi-input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

  margin-top: 10px;
}

/* Landing Page */
.abasi-login {
  padding: auto;
  align-items: center;
  justify-content: center;

  button {
    border: 1px solid $anchor-color;
    font-weight: bolder;
    font-size: 1.3em;
    border-radius: none;
    width: 100%;
    margin-top: 10px;
  }

  .login-header {
    color: $anchor-color;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
  }

  form {
    width: 50%;
  }
}

/* Dashboard Home */
.abasi-dashboard {
  padding: auto;
  justify-content: center;
  align-items: center;

  .abasi-dashboard-tiles {
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    .abasi-tile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
      height: 250px;
      text-align: center;
      background-color: $anchor-color;
      font-size: 3em;
      font-weight: bold;
      color: $primary-color;
      transition: all 0.2s linear;
      border: 1px solid $anchor-color;
      text-overflow: wrap;

      &:hover {
        border: 1px solid $anchor-color;
        color: $anchor-color;
        background: $primary-color;
      }
    }
  }
}

/* Orders */
.abasi-orders-spinner {
  align-items: center;

  h1 {
    font-size: 1.5em;
  }
}

.abasi-orders {
  .abasi-orders-header {
    width: 100%;
    text-align: center;
    font-size: 3em;
  }

  .abasi-orders-table {
    margin: 10px;
  }
}

.abasi-order-listing-spinner {
  // justify-content: center;
  align-items: center;

  h1 {
    font-size: 1.5em;
  }
}

.abasi-order-listing {
  .order-header {
    text-align: center;
    font-size: 2em;
  }

  .configurator-link {
    position: absolute;
    right: 10px;
    top: 50px;
    color: $dark-link-color;
    font-size: 1.5em;
    cursor: pointer;

    &:hover {
      color: $link-color;
    }
  }

  .order-info-wrapper {
    height: fit-content;
  }

  .order-info {
    border: 1px solid $anchor-color;
    width: 50%;
    padding: 10px;
    margin: 10px;

    .stripe-link {
      color: $dark-link-color;

      &:hover {
        color: $link-color;
      }
    }

    .item {
      font-size: 1.2em;
      display: flex;
      // justify-content: space-between;

      &:hover {
        background: $anchor-color;
        color: $primary-color;
      }
      
      .label {
        font-weight: 600px;
        width: 50%;
      }
      
      .value {
        margin-left: 10px;
        font-weight: 300;
      }
    }
  }

  .purchaser-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid $anchor-color;
    padding: 10px;
    margin: 10px;

    .purchaser-email-link {
      color: $dark-link-color;

      &:hover {
        color: $link-color;
      }
    }

    .item {
      font-size: 1.2em;
      display: flex;
      // justify-content: space-between;

      &:hover {
        background: $anchor-color;
        color: $primary-color;
      }
      
      .label {
        font-weight: 600px;
        width: 50%;
      }
      
      .value {
        margin-left: 10px;
        font-weight: 300;
      }
    }
  }

  .builder-info-wrapper {
    height: fit-content;
  }

  .specs {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid $anchor-color;
    padding: 10px;
    margin: 10px;

    .spec {
      display: flex;
      // justify-content: space-between;
      // margin: 0 15px;
      font-weight: 600;

      &:hover {
        background: $anchor-color;
        color: $primary-color;
      }

      .title {
        font-size: 1.3em;
        font-weight: 600px;
        width: 50%;
      }
      
      .price {
        margin-left: 10px;
        font-weight: 300;
      }
    }
  }

  .builder-notes {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid $anchor-color;
    padding: 10px;
    margin: 10px;

    h1 {
      text-align: center;
      font-size: 1.5em;
      margin: 0;
      margin-bottom: 10px;
    }

    p {
      text-align: center;
      font-size: 1em;
      margin: 0;
    }

    textarea {
      display: inline-block;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      padding: 10px 20px;
      border: 1px solid #b7b7b7;
      color: rgba(0,0,0,1);
      -o-text-overflow: clip;
      text-overflow: clip;
      background: rgba(252,252,252,1);
      -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      margin-top: 10px;
      min-height: 250px;
    }

    .builder-notes-save-button {
      position: absolute;
      right: 20px;
      background-color: $dark-link-color;
      color: $primary-color;
      width: 100px;

      &:hover {
        color: $anchor-color;
      }

      &:disabled {
        color: $primary-color;
        cursor: not-allowed;
        background-color: $disabled-color;
      }
    }
  }

  .order-actions {
    margin: 10px;
    padding: 10px;
    display: flex;
    border: 1px solid $anchor-color;
    width: auto;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;

    h1 {
      font-size: 1.5em;
      font-weight: 600;
      text-align: center;
      width: 100%;
    }

    .order-action {
      width: 250px;
      height: 50px;
    }

    .btn {
      border-radius: 0;
      margin-right: 10px;

      &:disabled {
        cursor: not-allowed;
        background-color: $disabled-color;
        color: $primary-color;
      }
    }

    .delete {
      background-color: $error-color;
    }

    .fulfill {
      background-color: $accent-color;
    }

    .paid {
      background-color: $dark-link-color;
    }
  }
}

/* Assets */
.abasi-assets {
  h1 {
    font-size: 1.5em;
    text-align: center;
  }

  padding: 10px;
  align-items: center;
  height: calc(100% - 20px);

  .abasi-manage-assets {
    .abasi-assets-table-button {
      background-color: $error-color;
      border: none;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
    }

    &.loading {
      align-items: center;
    }
  }

  .abasi-upload-model {
    align-items: center;
  }

  .abasi-upload-texture {
    align-items: center;
  }

  .abasi-upload-map {
    align-items: center;
  }
}

/* Config */
.abasi-config {
  h1 {
    font-size: 1.5em;
    text-align: center;
  }

  padding: 10px;
  align-items: center;

  height: calc(100% - 20px);

  .loading {
    align-items: center;
  }

  .add-config {
    position: absolute;
    right: 10px;
    top: 20px;
    background-color: $anchor-color;
    color: $primary-color;
    padding: 10px;
    border: 1px solid $anchor-color;;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      color: $anchor-color;
      background-color: $primary-color;
    }
  }

  .abasi-save-config {
    position: absolute;
    right: 175px;
    top: 20px;
    padding: 10px;
    background-color: $success-color;
    color: $anchor-color;
    cursor: pointer;
    width: 200px;
    border: 1px solid $anchor-color;
    transition: all 0.3s linear;

    &:hover {
      background-color: $anchor-color;
      color: $success-color;
    }
  }

  .abasi-config-wrapper {
    align-items: center;

    .abasi-config-items {
      font-size: 1.3em;
      width: 100%;
    }

    .abasi-config-item {
      .position {
        width: 30px;
        text-align: left;
      }

      .abasi-delete-config {
        background-color: $error-color;
        border: none;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
          background-color: $primary-color;
          color: $error-color;
        }
      }
    }
  }

  button.up, button.down {
    background-color: $anchor-color;
    color: $primary-color;
    cursor: pointer;
    border: 1px solid $anchor-color;
    transition: all 0.3s linear;

    &:hover {
      color: $anchor-color;
      background-color: $primary-color;
    }
  }

  button.down {
    margin-left: 5px;
  }
}

.abasi-add {
  align-items: center;

  h1 {
    font-size: 1.5em;
  }

  form {
    max-width: calc(100% - 20px);

    select {
      text-align-last: center;
    }
  
    .abasi-add-button {
      margin-top: 10px;
    }
  }

  .back-button {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .abasi-selections {
    align-items: center;
    position: relative;
    height: fit-content;
    margin-top: 10px;

    .lineitems {
      align-items: center;
      width: 100%;

      .abasi-lineitem {
        height: 50px;
        width: 100%;
        border: 1px solid $anchor-color;
        margin-bottom: 10px;

        > * {
          line-height: 53px;
          text-align: center;
        }
        
        .name {
          width: 200px;
        }

        .color {
          width: 200px;
        }

        .transparent {
          width: 200px;
        }

        .price {
          width: 200px;
        }

        .asset {
          width: 200px;
        }

        .delete {
          width: 200px;

          .btn {
            background-color: $error-color;
          }
        }
      }
    }

    .abasi-add-line-item {
      position: absolute;
      right: calc(50% - 300px);
      top: 10px;
      background-color: $success-color;
    }
  }
}

/* Stats */
.abasi-stats {
  align-items: center;
  padding: 10px;
  height: calc(100% - 20px);
}