@import '../_variables';

.app-bar {
  position: fixed;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: $anchor-color;
  border-bottom: 1px solid $space-color;

  a {
    color: $accent-color;
    transition: color 0.5s ease;
  }

  a:hover {
    color: $secondary-color;
  }

  .logo-link {
    // line-height: 50px;
    margin-left: 15px;
    font-size: 2em;
    align-self: center;

  }

  .brand-link {
    // line-height: 50px;
    margin-left: 15px;
    font-size: 2em;
    color: $space-color;
    text-decoration: none;
    align-self: center;

  }

  .brand-logo {
    width: 100%;
    height: 50px;
    display: flex;

    img {
      height: 20px;
      margin: auto;
    }
  }
  
  .active-user-image {
    height: 50px;
    width: auto;
  }

  .app-actions {
    position: absolute;
    height: 50px;
    width: 400px;
    right: 10px;
    top: 0;

    .abasi-logout {
      margin-left: 10px;
      cursor: pointer;
      width: 150px;
      padding: 10px;
      background-color: $anchor-color;
      color: $primary-color;
      border: 1px solid $space-color;
      transition: all 0.3s linear;
      font-size: 1.3em;

      &:hover {
        color: $space-color;
        background-color: $primary-color;
      }
    }
    
    .active-user {
      color: $primary-color;
      line-height: 50px;
      font-size: 1.3em;
    }
  }
}