@font-face {
  font-family: 'Akrobat';
  src: url('./fonts/Akrobat-Light.woff');
}

* {
  font-size: 100%;
  font-family: 'Akrobat';
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-body {
  position: relative;
}

// Basic flex container
.flex {
  width: 100%;
  height: 100%;
  display: flex;

  // flex column
  &.columns {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  // flex between
  &.between {
    justify-content: space-between;
  }

  // Center-aligned children
  .center {
    align-self: center;
  }
}

/* Notifications */
.toast-container {
  width: 100%;
  bottom: 0;
  left: 0;
  margin-left: 0;
  text-align: center;
}

.dark-toast {
  background-color: $anchor-color;
  color: $accent-color;
  font-size: 2em;

  &.Toastify__toast--success {
    color: $accent-color;
  }

  &.Toastify__toast--error {
    color: $error-color;
  }

  .Toastify__progress-bar--success {
    background-color: $accent-color;
  }

  .Toastify__progress-bar--error {
    background-color: $error-color;
  }
}
