$anchor-color: #000000;
$primary-color: #ffffff;
$secondary-color: #fff;
$accent-color: rgb(34, 241, 114);
$space-color: #0A0A0A;
$greyscale-color: rgb(223, 223, 223);

$disabled-color: #696969;
$error-color: rgb(235, 92, 92);
$success-color: rgb(34, 184, 91);
$warning-color: rgb(236, 205, 65);

$link-color: #7dc6f3;
$dark-link-color: #0d8ddd;