@font-face {
  font-family: 'Akrobat';
  src: url("./fonts/Akrobat-Light.woff"); }

* {
  font-size: 100%;
  font-family: 'Akrobat'; }

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

.app-body {
  position: relative; }

.flex {
  width: 100%;
  height: 100%;
  display: flex; }
  .flex.columns {
    flex-direction: column; }
  .flex.wrap {
    flex-wrap: wrap; }
  .flex.between {
    justify-content: space-between; }
  .flex .center {
    align-self: center; }

/* Notifications */
.toast-container {
  width: 100%;
  bottom: 0;
  left: 0;
  margin-left: 0;
  text-align: center; }

.dark-toast {
  background-color: #000000;
  color: #22f172;
  font-size: 2em; }
  .dark-toast.Toastify__toast--success {
    color: #22f172; }
  .dark-toast.Toastify__toast--error {
    color: #eb5c5c; }
  .dark-toast .Toastify__progress-bar--success {
    background-color: #22f172; }
  .dark-toast .Toastify__progress-bar--error {
    background-color: #eb5c5c; }

/**** Structural CSS ****/
.space-right {
  margin-right: 10px; }

#root {
  width: 100%;
  height: 100%; }

.configurator {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

/* Tooltip text */
.tooltip {
  position: relative; }

.tooltiptext {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 100px;
  font-size: 20px;
  visibility: hidden;
  background-color: #2f2e2e;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  z-index: 1; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; }

/**** Views ****/
.home-viewport {
  position: relative;
  width: calc(100% - 350px); }

.home-menu {
  height: 100%;
  width: 350px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/**** Components ****/
/* Viewport */
.review-btn {
  position: absolute;
  z-index: 10;
  right: 160px;
  bottom: 0;
  border: none;
  width: 150px;
  color: #000000;
  background-color: #22b85b;
  height: 50px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s linear; }
  .review-btn:hover {
    color: #ffffff;
    background-color: #000000; }
  .review-btn i {
    margin-right: 10px; }

.price-btn {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  width: 150px;
  color: #000000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #696969; }

.viewport-view {
  text-align: center;
  align-self: center;
  width: 100%;
  height: 100%; }

#renderer-container {
  width: 100%;
  height: 100%; }

/* Price */
.price {
  font-size: 20px; }

.price-container * {
  align-self: center; }

.price-icon {
  cursor: pointer; }

/* Menu */
.menu {
  /* flex-basis: 0; */
  display: flex;
  flex-grow: 1;
  align-content: flex-start;
  justify-content: flex-start; }

/* .menu.columns {
  flex-flow: column wrap;
  overflow-y: scroll;
} */
/* Tile */
.tile {
  position: relative;
  display: flex;
  flex: 1;
  min-height: 50px;
  max-height: 50px;
  min-width: 150px;
  /* background-color:white; */
  color: black;
  box-sizing: border-box;
  /* border-top: 1px solid #464646; */
  /* border-bottom: 1px solid #464646; */
  transition: all 0.5s linear;
  cursor: pointer; }

.tile:hover {
  /* color: rgb(124, 18, 196); */
  background-color: #464646;
  color: white; }

.tiles-container {
  display: flex;
  flex-direction: column; }
  .tiles-container .tile {
    text-align: right;
    line-height: 50px; }
    .tiles-container .tile .tile-label {
      font-size: 1.3em;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis; }
      .tiles-container .tile .tile-label:last-child {
        margin-right: 10px; }
    .tiles-container .tile .tile-price {
      min-width: 100px;
      font-size: 1.3em;
      flex-grow: 1;
      margin-right: 10px; }

/* Confirmation */
.checkout-button {
  height: 50px;
  width: 100px; }

.logo-container {
  height: 50px; }

.abasi-logo {
  margin-left: 20px;
  width: 250px; }

.configurator-spinner {
  position: absolute;
  text-align: center;
  top: calc(50% - 22px);
  left: calc(50% - 120px);
  z-index: 5; }

.configurator-info {
  font-size: 2em;
  align-items: center; }
  .configurator-info .configurator-selection {
    display: flex; }
    .configurator-info .configurator-selection .index {
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin-right: 10px; }
    .configurator-info .configurator-selection .title {
      width: 300px;
      height: 50px;
      line-height: 50px;
      margin-right: 10px; }
    .configurator-info .configurator-selection .name {
      width: 300px;
      height: 50px;
      line-height: 50px;
      margin-right: 10px; }
    .configurator-info .configurator-selection .price {
      width: 100px;
      height: 50px;
      line-height: 50px; }

.submit-order-button {
  border: none;
  padding: 10px;
  margin-top: 10px;
  background-color: #22b85b;
  color: #000000;
  transition: all 0.3s linear;
  cursor: pointer; }
  .submit-order-button:hover {
    color: #ffffff;
    background-color: #000000; }

.back-to-order {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 3em;
  cursor: pointer; }

.configurator-menu {
  overflow-y: scroll; }

html {
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #FF0000; }

/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion__button {
  font-size: 1.5em;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  width: calc(100% - 20px);
  text-align: center;
  border: none;
  transition: 0.3s all linear; }

.accordion__button:hover {
  background-color: #ffffff;
  color: #000000; }

.accordion__button:before {
  display: none;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px; }

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg); }

.accordion__panel {
  animation: fadein 0.35s ease-in; }

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Local stuff */
.item-title {
  text-transform: uppercase; }

.item-description {
  padding: 10px;
  display: flex;
  width: calc(100% - 20px);
  align-self: center;
  font-size: 1.3em; }

.item-options {
  display: flex;
  flex-direction: column; }
  .item-options .item-option {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s all linear; }
    .item-options .item-option:hover {
      color: #000000;
      background-color: #ffffff; }
